body
{
    font-family: 'Roboto', sans-serif;

}

#map
{
    height: 400px;
    background-color: #eeeeee;
}
.navbar
{
    margin-bottom: 0;
}
#content
{
    background-color: rgb(65, 131, 215);
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media all and (min-width: 750px) {
    #content
    {
        opacity: 0;
        animation : fadein 2s;
        position: absolute;
        top : 100px;
        height: 300px;
        background-color: rgba(65, 131, 215 , 0.9);
    }
}

.icon-bar{
    background-color: #ffffff;
    color: #ffffff;
}

#contenttxt
{
    color: #ffffff;
}

#infobuttons
{
    padding-top: 10px;
    padding-bottom: 5px;
}

#fb
{

 background: 
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNjdweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDY3IDY3OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNjcgNjciIHdpZHRoPSI2N3B4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMjkuNzY1LDUwLjMxOWg2Ljc0NFYzMy45OThoNC40OTlsMC41OTYtNS42MjRoLTUuMDk1ICBsMC4wMDctMi44MTVjMC0xLjQ2NywwLjE0LTIuMjUzLDIuMjQ0LTIuMjUzaDIuODEydi01LjYyNWgtNC41Yy01LjQwNSwwLTcuMzA3LDIuNzI5LTcuMzA3LDcuMzE2djMuMzc3aC0zLjM2OXY1LjYyNWgzLjM2OVY1MC4zMTl6ICAgTTMzLjUsMWwyOC4xNDYsMTYuMjV2MzIuNUwzMy41LDY2TDUuMzU0LDQ5Ljc1di0zMi41TDMzLjUsMXoiIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMzQTU4OUI7Ii8+PC9zdmc+)
    no-repeat
    left center;
    padding: 5px 0 5px 25px;
    height: 67px;
    width: 67px;
    
}

#share
{
    padding-bottom: 10px;
}
.naviq
{
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#navlink
{
    color: #ffffff;
}

#navb
{
    background-color: #22313F;
}

#brandtitle
{
    font-size: 60px;
    color : #6C7A89;
    font-weight : 100; 
}

#brandstitle
{
    font-size: 32px;
    color : #6C7A89;
    font-weight : 100; 
}

#infoarea1
{
    opacity: 0;
}

#hideme
{

    opacity:0;
    padding-bottom: 20px;
    padding-top: 20px;
}

#info
{
    color: #95A5A6;
    font-weight : 300; 
    font-size: 18px;
    text-align: justify;
}

h3
{
    color: #6C7A89;
}

#simg
{
    max-height: 300px;
}

#outbox::first
{
    background-color: ;
}
